version: '3.8'

services:
  prod:
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    container_name: securescribe-web
    ports:
      - '1111:3030'
    environment:
      - API_ENDPOINT=https://securescribe.wc504.io.vn/be/api
      - BRAND_NAME=FPT Telecom
      - BRAND_LOGO=https://scontent.fsgn2-11.fna.fbcdn.net/v/t39.30808-6/371096286_684325230389713_6562000883343152243_n.png?_nc_cat=1&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=DAXYsuIPFMAQ7kNvwEGkEc3&_nc_oc=AdmcBsDlMWHJICOzb2lwGl-B3PNmyYyAT9e-qyKMlYNek9Qri7QqZV181Xp-C039WKM&_nc_zt=23&_nc_ht=scontent.fsgn2-11.fna&_nc_gid=AHGIDjNy3jn4PqAGPxaXFw&oh=00_AfgRF4GanlTXEg-u2SwPce5Sz2b0QSTO_3ngnAQMM1f7ug&oe=690FA3FF
    restart: unless-stopped
    networks:
      - securescribe-network

  dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    container_name: securescribe-web-dev
    ports:
      - '1111:3000'
    environment:
      - API_ENDPOINT=https://securescribe.wc504.io.vn/be/api
      - BRAND_NAME=FPT Telecom
      - BRAND_LOGO=https://scontent.fsgn2-11.fna.fbcdn.net/v/t39.30808-6/371096286_684325230389713_6562000883343152243_n.png?_nc_cat=1&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=DAXYsuIPFMAQ7kNvwEGkEc3&_nc_oc=AdmcBsDlMWHJICOzb2lwGl-B3PNmyYyAT9e-qyKMlYNek9Qri7QqZV181Xp-C039WKM&_nc_zt=23&_nc_ht=scontent.fsgn2-11.fna&_nc_gid=AHGIDjNy3jn4PqAGPxaXFw&oh=00_AfgRF4GanlTXEg-u2SwPce5Sz2b0QSTO_3ngnAQMM1f7ug&oe=690FA3FF
    restart: unless-stopped
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - securescribe-network
networks:
  securescribe-network:
    driver: bridge
